.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #2F3E77;
    width: 100%;
    height: 8rem;
}

.header img {
    width: 15rem;
    height: 7rem;
    margin-left: 2rem;
}

.projectRigthTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.projectNameBox {
    font-size: 1.75rem;
    font-weight: bold;
}

.sectionName {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0.25rem 0 0.25rem 0.25rem;
}

.imgBox {
    display: flex;
    align-items: right;
    align-items: center;
}

.infoBox div {
    margin-top: 0.1rem;
}

.projectRightBot {
    padding: 0.5rem;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 2rem
}

.infoMname {
    font-weight: bold;
    font-size: 1.2rem;
}

.infoBox button {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    padding : 0 ;
}

.logoutButton {
    text-align: right;
}

.loginCheckingBox{
    margin: auto;
}